#!/usr/bin/make -f
# -*- makefile -*-

# top-level targets:
# binary-module creates the autofs4 module
# source creates autofs4 source
# clean removes files generated

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS

KVERS ?= $(shell uname -r)
KSRC ?= /lib/modules/$(KVERS)/build
kplevel := $(shell echo $(KVERS) | sed 's/[^\.]*\.\([^\.]*\)\..*/\1/')
MODDIR = ..

AUTOFS4SRC = $(shell pwd)
MAINT = Ian Kent
MAINTEMAIL = raven@themaw.net
MODSRC = $(AUTOFS4SRC)/autofs4

-include $(AUTOFS4SRC)/version

kdist_image:
	$(MAKE) $(MFLAGS) -f debian/rules binary-module
	$(MAKE) $(MFLAGS) -f debian/rules clean

# the kdist_clean target is called by make-kpkg modules_clean. It is
# responsible for cleaning up any changes that have been made by the
# other kdist_commands (except for the .deb files created).
kdist_clean: clean-modules
	$(MAKE) $(MFLAGS) -f debian/rules clean

### end  KERNEL SETUP

common-prolog:
	dh_testdir
	dh_testroot
	dh_installchangelogs ChangeLog
	dh_installdocs
	dh_installexamples
	dh_installdebconf	

common-epilog:
	dh_install
	dh_link
	dh_strip
	dh_compress 
	dh_fixperms
	dh_perl
	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums

check-perms:
	dh_testdir
	dh_testroot

build-module-prep:
	sed -e 's/#KVERS#/$(KVERS)/g' \
		-e 's/#AUTOFS4_VERSION#/$(AUTOFS4_VERSION)$(EXTRA_VERSION)/g' \
		-e 's/#DATE#/'"`date --rfc-822`"'/g' \
		-e 's/#MAINT#/$(MAINT) <$(MAINTEMAIL)>/g' \
		debian/changelog.template > debian/changelog
	sed -e 's/#KVERS#/$(KVERS)/' \
		-e 's/#AUTOFS4_VERSION#/$(AUTOFS4_VERSION)$(EXTRA_VERSION)/' \
		debian/control.modules > debian/control
	sed -e 's/#KVERS#/$(KVERS)/' debian/postinst.modules > debian/postinst

	if [ $(kplevel) == 4 ];then \
		module=autofs4.o; \
	else \
		module=autofs4.ko; \
	fi; \
	echo "autofs4/$$module /lib/modules/$(KVERS)/kernel/fs/autofs4" \
		> debian/autofs4-module-$(KVERS).install

build-module:
	$(MAKE) -C $(MODSRC)

binary-module: build-module-prep common-prolog build-module common-epilog
	dh_builddeb --destdir=$(MODDIR)
	dh_clean
	-rm -f debian/postinst debian/autofs4-module-$(KVERS).install

clean-module: build-module-prep
	echo "$(MODSRC)"
	-$(MAKE) -C $(MODSRC) distclean
	-rm -f debian/autofs4-module-$(KVERS).install debian/postinst
	dh_clean

build-source-prep:
	sed -e 's/-#KVERS#//g' \
		-e 's/#AUTOFS4_VERSION#/$(AUTOFS4_VERSION)$(EXTRA_VERSION)/g' \
		-e 's/#DATE#/'"`date --rfc-822`"'/g' \
		-e 's/#MAINT#/$(MAINT) <$(MAINTEMAIL)>/g' \
		debian/changelog.template > debian/changelog
	sed -e 's/#AUTOFS4_VERSION#/$(AUTOFS4_VERSION)$(EXTRA_VERSION)/' \
		-e 's/#MAINT#/$(MAINT) <$(MAINTEMAIL)>/g' \
		debian/control.source > debian/control
	echo "autofs4-source.tar.gz /usr/src" \
		> debian/autofs4-source.install

build-source:
	dh_installdirs usr/src/modules/autofs4
	mkdir -p modules/autofs4/debian
	mkdir -p modules/autofs4/include
	mkdir -p modules/autofs4/autofs4
	$(MAKE) -C $(MODSRC) distdir=../modules/autofs4/autofs4 dist
	cp version ChangeLog modules/autofs4
	cp -a debian/rules debian/changelog.template \
		debian/control.modules debian/changelog \
		debian/postinst.modules modules/autofs4/debian
	tar zcvf autofs4-source.tar.gz modules
	-rm -rf modules

clean-source:
	-rm -rf modules debian/autofs4-source
	-rm -f debian/autofs4-source.install autofs4-source.tar.gz
	dh_clean

source: build-source-prep common-prolog build-source common-epilog
	dh_builddeb --destdir=$(MODDIR)
	dh_clean

clean: clean-modules clean-source
	dh_clean
	-rm -f debian/changelog debian/control debian/dirs debian/postinst

binary:
	$(MAKE) -f debian/rules binary-module

.PHONY: binary binary-module common-epilog common-prolog \
	clean-module check-perms clean build-module \
	build-module-prep source build-source-prep \
	build-source clean-source
