Source: autofs
Section: utils
Priority: extra
Maintainer: Debian QA Group <packages@qa.debian.org>
Standards-Version: 3.6.1.0
Build-Depends: debhelper (>= 4), libhesiod-dev, libldap-dev | libldap2-dev, autoconf

Package: autofs
Architecture: any
Depends: ${shlibs:Depends}
Recommends: nfs-common
Conflicts: samba (<< 2.0.6-1)
Description: A kernel-based automounter for Linux
 Autofs controls the operation of the automount daemons. The
 automount daemons automatically mount filesystems when they
 are used and unmount them after a period of inactivity. This
 is done based on a set of pre-configured maps.
 .
 The kernel automounter implements an almost complete SunOS
 style automounter under Linux. Automounter version 4
 (autofs4) has to be enabled when compiling the kernel.
 Debian packaged kernels have it enabled.
 
Package: autofs-hesiod
Architecture: any
Depends: ${shlibs:Depends}, libhesiod0, autofs
Description: Hesiod map support for autofs
 Autofs controls the operation of the automount daemons. The
 automount daemons automatically mount filesystems when they
 are used and unmount them after a period of inactivity. This
 is done based on a set of pre-configured maps.
 .
 The kernel automounter implements an almost complete SunOS style
 automounter under Linux. Automounter version 4 (autofs4) has to be
 enabled when compiling the kernel. Debian packaged kernels have it
 enabled.
 .
 This package provides support for Hesiod filsys entries within autofs.
 These entries are used extensively at MIT, and may also be used at other
 sites.

Package: autofs-ldap
Architecture: any
Depends: ${shlibs:Depends}, autofs, libldap | libldap2
Description: LDAP map support for autofs
 Autofs controls the operation of the automount daemons. The
 automount daemons automatically mount filesystems when they
 are used and unmount them after a period of inactivity. This
 is done based on a set of pre-configured maps.
 .
 The kernel automounter implements an almost complete SunOS style
 automounter under Linux. Automounter version 4 (autofs4) has to be
 enabled when compiling the kernel. Debian packaged kernels have it
 enabled.
 . 
 This package provides support for LDAP queries in autofs so that
 you can use automount maps stored on an LDAP server.
