#!/usr/bin/make -f
# Made with the aid of debmake, by Christoph Lameter,
# based on the sample debian/rules file for GNU hello by Ian Jackson.

DH_COMPAT = 4
export DH_COMPAT

package=autofs
include debian/scripts/vars
BUILD_DIR = $(SOURCE_DIR)/$(TAR_DIR)

# Debian policy 10.1
export CFLAGS=-Wall -g # add -DDEBUG for debugging

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
  CFLAGS+=-O0
else
  CFLAGS+=-O2
endif
ifneq (,$(findstring nostrip,$(DEB_BUILD_OPTIONS)))
  STRIPARGS= --no-act
endif


build: $(STAMP_DIR)/build
$(STAMP_DIR)/build: $(STAMP_DIR)/configure
	dh_testdir
	$(MAKE) -C $(BUILD_DIR)
	touch $@

configure: $(STAMP_DIR)/configure
$(STAMP_DIR)/configure: $(STAMP_DIR)/source.make
	dh_testdir
	(cd $(BUILD_DIR) && \
	    ./configure --prefix=/usr --mandir=/usr/share/man \
		--host=$(DEB_HOST_GNU_TYPE) --build=$(DEB_BUILD_GNU_TYPE) )
	touch $@

source.make: $(STAMP_DIR)/source.make
$(STAMP_DIR)/source.make:
	$(MAKE) -f debian/sys-build.mk source.make
	chmod -R +w $(BUILD_DIR)

clean:
	dh_testdir
	$(MAKE) -f debian/sys-build.mk source.clean
	rm -f $(STAMP_DIR)/build $(STAMP_DIR)/configure
	dh_clean debian/init build_dir
	if test -f .version; then \
		rm -rf upstream; \
	fi 

binary-indep:
	@echo Nothing to do

$(BUILD_DIR)/samples/rc.autofs: $(BUILD_DIR)/samples/rc.autofs.in
	$(MAKE) -C $(BUILD_DIR)/samples rc.autofs

debian/init: $(BUILD_DIR)/samples/rc.autofs
	cp -a $< debian/init

binary-arch: build debian/init
	dh_testroot
	dh_testdir
	dh_clean

	dh_installdirs

	# for use in dh_install* file lists
	ln -sf $(BUILD_DIR) build_dir

	$(MAKE) -C $(BUILD_DIR) install INSTALLROOT=$(CURDIR)/debian/autofs/

	dh_installdirs etc/apm/event.d
	cp -a debian/event.d debian/autofs/etc/apm/event.d/autofs
	chmod +x debian/autofs/etc/apm/event.d/autofs
	
# for the patched init script, not yet merged
#	dh_installdirs usr/share/autofs
#	cp debian/join_lines debian/autofs/usr/share/autofs

# Do the final stuff
	dh_movefiles --sourcedir=debian/autofs
	dh_installdirs --package=autofs-ldap etc/ldap/schema
	cp -a $(BUILD_DIR)/samples/autofs.schema \
		debian/autofs-ldap/etc/ldap/schema
	dh_installdocs -X README.options -X README.patches
	dh_installman
	dh_installchangelogs $(BUILD_DIR)/CHANGELOG
	dh_installexamples 
	dh_installmodules
	dh_installinit --noscripts -- defaults 20
	dh_link
	dh_strip $(STRIPARGS)
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

# Below here is fairly generic really

binary:		binary-indep binary-arch

.PHONY: binary binary-arch binary-indep clean checkroot
